* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.prime-btn, .contact__btn{
    display: flex;
    align-items: center;
    background: #292F36;
    border: 2px solid #292F36;
    border-radius: 18px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 14px 20px 14px 32px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.prime-btn:hover {
    background: #FFFFFF;
    border: 2px solid #CDA274;
    color:#CDA274;
}

.prime-btn__arrow {
    margin-left: 34px;
    margin-right: -14px;
}