@media(max-width: 1200px) {
    .article {
        width: 27vw;
    }

    .article__text {
        font-size: 22px;
        width: 90%;
    }
}

@media(max-width: 1000px) {
    .article {
        width: 41vw;
        margin: 0 auto;
    }
    .articles__inner {
        flex-wrap: wrap;
    }
}

@media(max-width: 850px) {
    .article {
        padding-top: 50px;
        width: 60vw;
        margin: 0 auto;
    }
    .articles__inner {
        flex-direction: column;
    }
    .article__btn {
        margin: 35px auto 0px auto;
    }
}

@media(max-width: 770px) {
    .articles__inner {
        margin-top: 20px;
    }

    .article__text {
        font-size: 20px;
    }
}

@media(max-width: 670px) {
    .article__text {
        font-size: 22px;
    }
}

@media(max-width: 480px) {
    .article {
        width: 80vw;
    }
    .article__text {
        font-size: 18px;
    }
}