@media(max-width: 700px) {
    .dream-interior__title {
        font-size: 55px;
        width: 72vw;
    }

    .dream-interior__text {
        width: 72vw;
        font-size: 22px;
    }
}

@media(max-width: 570px) {
    .dream-interior__title {
        font-size: 45px;
        line-height: 60px;
    }

    .dream-interior__text {
        font-size: 20px;
    }
}

@media(max-width: 470px) {
    #dream-interior {
        padding: 128px 0px 200px 0px;
    }
    .dream-interior__title {
        font-size: 36px;
        line-height: 50px;
    }

    .dream-interior__text {
        font-size: 18px;
        line-height: 30px;

    }
}
@media(max-width: 370px) {
    .dream-interior__title {
        font-size: 32px;
        line-height: 40px;
    }

    .dream-interior__text {
        font-size: 18px;
        line-height: 25px;
    }
}
@media(max-width: 340px) {
    .dream-interior__title {
        font-size: 30px;
    }
    .dream-interior__text {
        font-size: 18px;
        line-height: 25px;
    }
}